{% extends 'layouts/app.twig' %}

{% block content %}
 <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"> <img src="../../images/logo_black.png" width='55'></img> </a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav">
                    <li class="nav-item "><a href="/" class="nav-link text-dark">Qui-je suis ?</a></li>
                    <li class="nav-item "><a href="/blog" class="nav-link text-dark">Blog</a></li>
                </ul>
                {% if auth %}
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="/logout" class="nav-link text-dark">Se Deconnecter</a></li>
                    </ul> 
                {% else %} 
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="/login" class="nav-link text-dark">Connexion</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link text-dark">Inscription</a></li>
                    </ul> 
                {% endif %}
                {% if admin %}
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="/dashboard" class="nav-link text-dark">Admin</a></li>
                    </ul> 
                {% endif %}
            </div>
        </div>
	</nav>
    <!-- END nav -->
    <main>
        <section class="blog">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12">
                        <div class="row d-flex justify-content-center">
                            <div class="col-10">
                                <div class="col-12" >
                                    <div class="col-12 text-center mt-3 p-2">
                                        <span class="badge text-primary">{{ post.category().name }}</span>
                                        <p class="badge text-dark ">{{ post.created_at|date('j F Y') }}</p>
                                    </div>
                                    <img class="rounded-lg-3 rounded-3 article-cover" src="{{ post.image }}" alt="" height="350">
                                </div>
                            </div>
                            <div class="col-8 p-4 mt-4">
                                <div class="col-12 text-left p-2">
                                    <h1 class="fw-bold lh-1">{{ post.title }}</h1>
                                    <p class="lead">{{ post.content |raw  }}</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <div class="bg-light">
                        <div class="card-body">
                            {% if auth %}
                                <h3>Les commentaire !</h3>
                                {% if success %}
                                    <div class="col-12 p-1">
                                        <h5 class="success">{{ success |raw  }}</h5> 
                                    </div>
                                {% endif %}  
                                {% if error %}
                                    <div class="col-12 p-1">
                                        <h5 class="error">{{ error |raw  }}</h5> 
                                    </div>
                                {% endif %}  
                                <form class="mb-4 mt-4" method="POST" action='/store-comment'>
                                    {{ form_token('/store-comment') }}
                                    <textarea class="form-control" rows="3" placeholder="Laisser un commentaire !" name='comment' required></textarea>
                                    <input name="post_id" type="hidden" value="{{ post.id }}">
                                    <button type="submit" class="btn bg-primary mt-2">Envoyer</button>
                                </form>
                            {% else %} 
                                <div class="row">
                                    <div class="fw-bold col-8">
                                        <h4>Vous devez vous connecter pour laisser un commentaire !</h4>
                                        <a href="/login" class='mt-2'>Se connecter</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% for comment in comments %}
                                {% if comment.verified == 1 %}
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ comment.user().firstname }} {{ comment.user().lastname}}</div>
                                            {{ comment.message }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="pt-5 mt-5">
        <div class="container border-top">
        <div class="row mt-3 mb-3">
            <div class="col-4 text-center">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mentions légales & Gestion des cookies</a></li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <a href="/" class="align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src='../images/logo_black.png' class="bi me-2" width="50"></img>
                </a>
            </div>
            <div class="col-4 text-center">
                <p class="mb-0 mt-2  text-muted">©2022 | Pavel Klimovich </p>
            </div>
        </div>
        </div>
    </footer>
{% endblock %}