{% extends 'layouts/app.twig' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"> <img src="images/logo.png" width='55'></img> </a>  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav">
                    <li class="nav-item "><a href="/" class="nav-link">Qui-je suis ?</a></li>
                    <li class="nav-item "><a href="/blog" class="nav-link">Blog</a></li>
                </ul>
                {% if auth %}
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="/logout" class="nav-link">Se Deconnecter</a></li>
                    </ul> 
                    {% else %} 
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="/login" class="nav-link">Connexion</a></li>
                        <li class="nav-item"><a href="/register" class="nav-link">Inscription</a></li>
                    </ul> 
                {% endif %}
                {% if admin %}
                    <ul class="navbar-nav ">
                        <li class="nav-item"><a href="/dashboard" class="nav-link">Admin</a></li>
                    </ul> 
                {% endif %}
            </div>
        </div>
	</nav>
    <!-- END nav -->
    <header>
        <div class="hero-wrap m-5" style="background-image: url('images/bg_4.jpg');" >
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-end">
                    <div class="col-md-6 mt-5">
                        <h1 class="mb-2" >Moins de <span class='underline'>code</span>  plus de <span class='underline'>réflexion</span>  pas de précipitation pas de dogme!</h1>
                        <h3 class="mb-2" style="color: white;">Développeur pragmatique | Pavel Klimovich</h3>            
                    </div>
                    <div class="col-md-6 d-none d-md-block"></div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="mt-1 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex p-4">
                        <div class="img-fluid p-4">
                            <img class="img-fluid shadow" src="images/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-6 d-flex p-5 mt-5">
                        <div class="col-md-12 p-1">
                            <h2 class="display-3 fw-bold text-dark lh-1 ">Qui suis-je ?</h2>
                            <div class="wrapper mb-4">
                                <a href="https://www.linkedin.com/in/pavel-klimovich-a11a5217b/" target="_blank">
                                    <div class="icon facebook">
                                        <div class="tooltip">LinkedIn</div>
                                        <span><i class="fa-brands fa-linkedin-in"></i></span>
                                    </div>
                                </a>
                                <a href="https://github.com/PavelKlimovich" target="_blank">
                                    <div class="icon instagram">
                                        <div class="tooltip">GitHub</div>
                                        <span><i class="fa-brands fa-github"></i></i></span>
                                    </div>
                                </a>
                                <a href="https://twitter.com/mydnex" target="_blank">
                                    <div class="icon twitter">
                                        <div class="tooltip">Twitter</div>
                                        <span><i class="fab fa-twitter"></i></span>
                                    </div>
                                </a>
                                <a href="images/cv.pdf" download="CV_Pavel_KLIMOVICH">
                                    <div class="icon">
                                    <div class="tooltip text-primary">Télechager_CV</div>
                                        <span><i class="fa-solid fa-download"></i></span>
                                    </div>
                                </a>
                            </div>
                            <p class="lead ">Je suis développeur php/back-end. Je crée des logiciels personnalisés très abordables pour les petites et moyennes entreprises. En appliquant des principes de conception modernes, en conjonction avec les dernières technologies web et mobiles, je fournis des solutions sur mesure qui connectent les collègues entre eux et les entreprises à leurs clients, simplifient et accélèrent les processus commerciaux et réduisent les coûts.</p>
                            <p class="lead">À la fois conseiller, créatif et technicien, je vous accompagne dans vos projets de A à Z, afin d'apporter des solutions adaptées à vos besoins et en accord avec les technologies et tendances actuelles. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="mt-1 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex p-5">
                        <div class="col-md-12">
                            <h2 class="display-4 fw-bold lh-1 text-primary">Mon Expertise</h2>
                            <hr>
                            <p class="lead ">Je prends en charge toute la chaîne de production d’un site, depuis sa conception jusqu’à sa mise en ligne, assurant la maintenance technique et si besoin la formation nécessaire à son utilisation.</p>
                        </div>
                    </div>
                    <div class="col-6 d-flex">
                        <div class="col-12 p-5">
                            <h2 class="display-6 fw-bold lh-1 mb-4"><span class='card__title'>PHP 8.1</span></h2>
                            <p class="lead ">PHP est le langage phare du développement web : presque 80% des sites en ligne dans le monde l'utilise. Le CMS le plus connu et le plus utilisé au monde, Wordpress, est écrit en PHP.</p>
                            <p class="lead ">PHP et nous, c'est une grande histoire d'amour. Dans nos locaux, vous trouverez pas moins de 15 ans d'expérience avec ce langage. On a vu passer plusieurs mises à jour majeures, et on est toujours excité à la sortie d'une nouvelle version. Chacun d'entre nous a travaillé avec de multiples frameworks PHP, et on continue de se former chaque semaine sur les nouveautés qui en découlent.</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="col-md-12 p-5">
                            <h2 class="display-6 fw-bold lh-1 mb-4"><span class='card__title'>Laravel 9</span></h2>
                            <p class="lead ">Laravel. C'est ce qu'on appelle un Framework PHP. Imaginons que le développement web ce soit comme le bricolage. Auquel cas, Laravel c'est une boîte à outil remplie à ras-bord avec beaucoup de ce qui se fait de mieux comme matériel ! Ça nous permet de créer l'architecture de base de nos sites très vite, et d'avoir rapidement accès à des fonctionnalités de base comme l'authentification ou l'envoi d'e-mails.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="contacter mb-5">
            <div class="p-5">
                <div class="container p-5">
                    <div class="row justify-content-center">
                        <div class="col-md-10 text-center" >
                            <h2 class="display-3 fw-bold text-primary lh-1">Mes dernières publications</h2>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

        {% for post in posts %}
            <div class="container my-5">
                <div class="row p-4 align-items-center rounded-3 border shadow-lg">
                    <div class="col-lg-7 m-5 ">
                    <div class="col-12 text-left">
                            <span class="badge text-primary">{{ post.category().name }}</span>
                            <p class="badge text-dark ">{{ post.update_at|date('j F Y') }}</p>
                        </div>
                        <a href="/article/{{ post.slug }}" class="link-none-decoration">
                            <h1 class="fw-bold lh-1"> <span class='card__title'>{{ post.title }}</span></h1>
                        </a>    
                        <p class="lead">{{ post.content |raw }}</p>
                        <a href="/article/{{ post.slug }}">Lire</a>
                    </div>
                    <div class="col-lg-4">
                        <img class="rounded-lg-3 rounded-3 article-cover" src="{{ post.image }}" alt="" >
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="container text-center">
            <a class="text-dark mt-2 mb-5 display-6 px-4 fw-bold" href="/blog">Voir plus</a>
        </div>
        </section>

        <section class="contact">
            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-md-10 text-center" >
                        <h2 class="display-3 fw-bold text-primary lh-1">Me contacter</h2>
                        <hr>
                        <br>
                        <h5><span class="text-primary">* </span>Je vous repond sous <span class="small text-primary">24 heures </span>!</h5>
                        <p class="leader">Vous avez un projet, une question ou souhaitez obtenir un devis ?</p>
                    </div>
                </div>
                <div class="container-contact100">
                    <div class="row d-flex justify-content-center">
                        <div class="wrap-contact100">
                            <form class="contact100-form validate-form" method="POST">
                                {{ form_token() }}
                                {% if error %}
                                    <div class="col-12 p-1">
                                        <h5 class="error">{{ error |raw  }}</h5> 
                                    </div>
                                {% endif %}  
                                <div class="col-6 p-1">
                                    <div class="wrap-input100">
                                        <span class="label-input100">Prenom*</span>
                                        <input class="input100" type="text" name="firstname" placeholder="Votre Prénom ...">
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100">
                                        <span class="label-input100">NOM*</span>
                                        <input class="input100" type="text" name="lastname" placeholder="Votre Nom ...">
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>
                                <div class="col-6 p-1">
                                    <div class="wrap-input100">
                                        <span class="label-input100">Email*</span>
                                        <input class="input100" type="email" name="email" placeholder="Adresse Email ...">
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100">
                                        <span class="label-input100">Téléphone</span>
                                        <input class="input100" type="tel" name="phone" pattern="[0-9]{10}" placeholder="Votre téléphone ...">
                                        <span class="focus-input100"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="wrap-input100">
                                        <span class="label-input100">Objet</span>
                                        <input class="input100" type="text" name="objet" placeholder="Objet du message...">
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="wrap-input100" >
                                        <span class="label-input100">Message*</span>
                                        <textarea class="input100" name="message" placeholder="Vous voulez un devis ?"></textarea>
                                        <span class="focus-input100"></span>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-12 d-flex justify-content-center">
                                            <button type="submit" class="button">Envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="pt-5 mt-5">
        <div class="container border-top mt-5">
            <div class="row mt-3 mb-3">
                <div class="col-4 text-center">
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mentions légales <span class="text-primary">&</span> Gestion des cookies</a></li>
                    </ul>
                </div>
                <div class="col-4 text-center">
                    <a href="/" class="align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <img src='images/logo_black.png' class="bi me-2" width="50"></img>
                    </a>
                </div>
                <div class="col-4 text-center">
                    <p class="mb-0 mt-2 text-muted"><span class="text-primary fw-bold">© </span> 2022 | Pavel Klimovich </p>
                </div>
            </div>
        </div>
    </footer>
  
{% endblock %}